.criticas-cabecalho-titulo {
  margin: 15px 0;
  color: var(--vermelho);
  font-weight: bolder;
  font-size: 30px;
}

.criticas-cabecalho-titulo::before {
  content: "";
  background-color: var(--vermelho);
  height: 50px;
  width: 14px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}

.acoes {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.btn-icon {
  border: none;
  background-color: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}

.edit {
  color: var(--azul);
  border: 2px solid var(--azul);
}

.delete {
  color: var(--vermelho);
  border: 2px solid var(--vermelho);
}

@media only screen and (min-device-width: 800px) {
  .criticas {
    display: inline-block;
    width: 95%;
    height: auto;
    margin-bottom: 20px;
  }

  .criticas-cabecalho {
    display: flex;
    justify-content: space-between;
  }
}
