.critica {
  background-color: var(--azul-claro);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.critica-data {
  color: var(--azul);
  font-size: 16px;
}

.critica-username {
  color: var(--azul);
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  text-decoration: none;
}