.formulario__adicionar {
    min-width: 300px;
    background-color: var(--azul-claro);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.formulario__adicionar__campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.formulario__adicionar__campo__label {
    font-size: 20px;
    color: var(--azul);
    font-weight: bold;
}

.formulario__adicionar__campo__input {
    box-shadow: grey 0px 3px 4px 0px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (min-width: 700px) {
    .formulario__adicionar {
        max-width: 80vw;
    }

    .formulario__adicionar__campo__label {
        font-size: 24px;
    }
}