.btn-outline-vermelho {
    background-color: white;
    color: var(--vermelho);
    border: 3px solid var(--vermelho);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  
    height: 46px;
    margin: 15px 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-outline-vermelho > svg {
    margin-right: 5px;
  }
  
  .btn-enviar{
    background-color: #198BCA;
    color: white;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    border:none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    margin-left: 25%;
    margin-top: 20px;
    height: 69px;
  }
  