@import url(./components/critica.css);
@import url(./components/criticas.css);
.detalhes {
    margin: 5px;
}

.capa {
    max-width: 175px;
    min-width: 175px;
    max-height: 213px;
    min-height: 213px;
    border-radius: 10px;
    background-color: var(--azul-claro);
}

.detalhes-subtitulo {
    color: var(--azul-escuro);
    font-weight: bolder;
    font-size: 24px;
    margin-top: 10px;
}

.texto {
    font-size: 20px;
    text-align: justify;
    line-height: 25px;
}


@media only screen and (min-device-width: 800px) {
    .detalhes {
        display: flex;
    }

    .linha-vertical {
        background-color: var(--azul-claro);
        height: 20rem;
        width: 10px;
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
    }

    .container-flex-column {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 20px;
    }
}