<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Minha Critica </title>
    <link rel="stylesheet" href="../src/css/base.css" />
    <link rel="stylesheet" href="../src/css/adicionarCritica.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>
        <script type="module" src="../src/js/adicionarCritica.js" defer></script>

        <header id="cabecalho" class="cabecalho"></header>
        <main class="principal">
            <h2 class="titulo titulo-vermelho">ADICIONAR CRITICA</h2>

            <section class="formulario__adicionar">
                <p id="livro-atual" class="formulario__adicionar__titulo"> Titulo livro </p>
                
                <div class="formulario__adicionar__campo"> 
                    <label class="formulario__adicionar__campo__label">Escreva sua opinião:</label>
                    <textarea  rows="4" cols="50" class="formulario__adicionar__campo__input" placeholder="Descreva sua opinião aqui"></textarea> 
                </div>
                
                <div class="formulario__adicionar__campo">  
                    <button id="cadastro-livro" class="btn-enviar"> ADICIONAR </button>
                </div>
            </section>
        </main>
    </body>
</html>