<h2 class="titulo titulo-vermelho">ADICIONAR LIVRO</h2>

<section class="adicionar__livro">
    <div class="campo__livro"> 
        <label class="campo__livro__label">Nome</label>
        <input type="text" class="campo__livro__input">    
    </div>
    <div class="campo__livro"> 
        <label class="campo__livro__label">Genero</label>
        <input type="text" class="campo__livro__input">    
    </div>
    <div class="campo__livro"> 
        <label class="campo__livro__label">Quantidade de Páginas</label>
        <input type="text" class="campo__livro__input">    
    </div>
    <div class="campo__livro"> 
        <label class="campo__livro__label">Autor</label>
        <input type="text" class="campo__livro__input">    
    </div>
    <div class="campo__livro"> 
        <label class="campo__livro__label">Sinopse</label>
        <textarea  rows="4" cols="50" class="campo__livro__input"></textarea> 
    </div>
    <div class="campo__livro"> 
        <label class="campo__livro__label">Banner</label>
        <input type="text" class="campo__livro__input">    
    </div>
    <div class="campo__livro">  
        <button id="cadastro-livro" class="btn-enviar"> ADICIONAR </button>
    </div>
</section>